.about {
  padding: 5em 0em;

  @media (max-width:450px){
    font-size: .8rem;
  }
  &__cards {
    display: flex;
    gap: 2em;
    width: 100%;
    padding-inline: 2em;
    justify-content: space-evenly;
    @media (max-width:1088px){
      padding-inline: 1em;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__card {
    display: flex;
    max-width: 340px;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    h2 {
      font-size: 1.6rem;
      font-weight: 700;
      color: #1d1d1f;
    }
    img {
      width: 100%;
      height: 50px;
    }
  }
}
