.company__partners {
  width: 80%;
  margin-inline: auto;
  margin-block-start: 1em;

  @media (max-width: 450px) {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    //   margin-top: ;
    @media (max-width: 1116px) {
      text-align: center;
    }
    @media (max-width: 450px) {
      font-size: 1.5rem;
    }
  }
  &-content {
    display: flex;
    gap: 4em;
    align-items: center;
    @media (max-width: 1116px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    img {
      width: 570px;
      height: 100%;
      object-fit: contain;
    }
    p {
      text-align: justify;
    }
  }
  &-btn {
    margin-block: 3em;
    width: max-content;
    margin-inline: auto;

    button {
      text-decoration: none;
      background: white;
      border-radius: 8px;
      border: 2px solid #3767ff;
    }
    a {
      padding: 0.4em 0.9em;
      text-decoration: none;
      border-radius: 8px;
      font-weight: 700;
      color: black;
    }
  }

  &__cards {
    display: flex;
    gap: 3em;

    @media (max-width:1124px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    ul {
      list-style-position: inside;
    }
    img {
      width: 550px;
      height: 100%;
    }
  }
}
