.company__partners {
  width: 100%;
  margin-inline: auto;
  padding: 1.2em;

  margin-block-start: 1em;

  @media (max-width: 450px) {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    //   margin-top: ;
    margin-block: 1em;
    @media (max-width: 1116px) {
      text-align: center;
    }
    @media (max-width: 450px) {
      font-size: 1.5rem;
    }
  }
  &-content {
    display: flex;
    gap: 4em;
    align-items: center;
    @media (max-width: 1116px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    img {
      width: 570px;
      height: 100%;
      object-fit: contain;
    }
    p {
      text-align: justify;
    }
  }
  &-btn {
    margin-block: 3em;
    width: max-content;
    margin-inline: auto;

    button {
      text-decoration: none;
      background: white;
      border-radius: 8px;
      border: 2px solid #3767ff;
    }
    a {
      padding: 0.4em 0.9em;
      text-decoration: none;
      border-radius: 8px;
      font-weight: 700;
      color: black;
    }
  }

  &__cards {
    display: flex;
    gap: 3em;

    justify-content: space-between;
    @media (max-width: 1124px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    background: #f5f4f3;
    padding: 1.2em;
    border-radius: 8px;
    @include button();
    ul {
      list-style-position: inside;
    }
    img {
      width: 550px;
      height: 100%;
      border-radius: 10px;
    }
  }
  &__card-content {
    margin-top: -3em;
    margin-left: 0.5em;

    @media (max-width: 1124px) {
      margin-top: 0;
      margin-left: 0;
    }
    h2 {
      font-weight: 600;
      font-size: 1.7rem;
      background: #ffa73a;
      padding: 0.1em 0.7em;
      width: max-content;
    }
  }
}
