footer {
  background: #1d1d1f;
  color: white;
  padding: 1em;
  a {
    color: white;
  }
}

.footer,
.footer__social,
.footer__copyright {
  width: 90%;
  margin-inline: auto;
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;

  padding-block: 3em;
  border-bottom: 1px solid #fff;

  @media(max-width:850px){
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
  }
  @media(max-width:462px){
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
  }
  &_col {
    display: flex;
    flex-direction: column;
    gap: 1em;
    

    h3 {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}
.footer__social {
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
gap: 1em;
flex-wrap: wrap;
  div {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  img {
    cursor: pointer;
  }
}
.footer__copyright {
  color: #8e9592;
}
