@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500;1,700&display=swap");
body {
  font-family: "Source Sans 3", sans-serif;
  scroll-behavior: smooth;
}
.bold {
  font-weight: 700;
}
main,
.footer,
.footer__social,
.footer__copyright {
  max-width: 1260px;
  width: 100%;

  margin-inline: auto;
}
