.last-flexes {
  display: flex;
  flex-direction: column;
  gap: 5em;
  margin-block: 3em;

  @media (max-width:450px){
    font-size: .8rem;
  }

  .reverse-wrap {
    @media (max-width: 1100px) {
      flex-direction: column-reverse;
    }
  }
  &-1 {
    display: flex;
    gap: 5em;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    @media (max-width: 1100px) {
      flex-direction: column;
      // align-items: center;
      justify-content: center;
    }

    &-video {
      align-self: center;

      video {
        border-radius: 15px;
      }
    }
    &-image {
      max-width: 600px;
      @media (max-width: 1100px) {
        max-width: 1000px;
        width: 100%;
      }
      img {
        max-width: 570px;

        border-radius: 15px;
        height: 100%;
        @media (max-width: 1100px) {
            max-width: 1000px;
            width: 100%;
          }
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      gap: 2em;
      h3 {
        font-size: 2rem;
        font-weight: 700;
        @media (max-width:450px){
            font-size: 1.5rem;
          }
        
      }
    }
    &-paras {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
}
