@mixin border() {
  border: 1px solid red;
}
@mixin h2() {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}
@mixin button() {
  button {
    border: none;
    background: none;
    a {
      text-decoration: none;
      border: 2px solid #3767ff;
      padding: 0.7em 1em;
      margin-top: 1.5em;
      border-radius: 7px;
      color: black;
      font-weight: 700;

      &:hover {
        border-color: rgb(55, 103, 255, 0.7);
      }
    }
  }
}
