.header {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0.1em;
  position: sticky;
  background: #fff;
  top: 0;
  z-index: 9999;

  @media (max-width: 420px) {
    font-size: 0.9rem;
  }
  @media (max-width: 1000px) {
    position: relative;
  }
}
.nav-container {
  max-width: 1260px;
  width: 100%;
  padding: 0 1em;
  margin: 1em auto;
  position: relative;
}
.navbar {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  @media (max-width: 450px) {
  }

  &__logo {
    img {
      @media (max-width: 450px) {
        min-width: 200px;
        // width: 100%;
        align-self: center;
        justify-self: center;
      }
    }
  }
  &__left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 1.8em;
  }

  &__ul-section {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.6em;
  }
  &__ul-li {
    display: flex;
    gap: 0.1em;
    align-items: center;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    display: flex;
    gap: 0.1em;
    align-items: center;
    
  }
  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
  }
  &__btn {
    padding: 0.5em 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
  &__btn-full {
    border-radius: 8px;
    font-size: 0.92rem;
    background: #fff;
    border: 2px solid #3767ff;

    @media (max-width: 420px) {
      font-size: 0.8rem;
    }
  }
  &__btn-full-2 {
    border: none;
  }
  &__link-border {
    border-left: 1px solid black;
    padding-left: 1.5em;

    @media (max-width: 726px) {
      border-left: none;
      padding-left: 0;
    }
  }
  &__btn-2 {
    border: 2px solid #3767ff;
    background-color: #3767ff;
    color: white;
    border-radius: 8px;
    transition: 100ms opacity ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }

  &__tooltip__bachelor,
  &__tooltip__master,
  &__tooltip__mba,
  &__tooltip__about {
    visibility: hidden;
    // transition: 20s all ease;
    &::before {
      content: "";
      position: absolute;
      background-color: rgb(255, 255, 255);

      max-width: 90px;
      width: 100%;
      top: 33px;
      height: 34px;
    }
  }
  &__link__bachelor {
    &:hover .navbar__tooltip__bachelor {
      visibility: visible;
    }
  }
  &__link__master {
    &:hover .navbar__tooltip__master {
      visibility: visible;
    }
  }
  &__link__mba {
    &:hover .navbar__tooltip__mba {
      visibility: visible;
    }
  }
  &__link__about {
    &:hover .navbar__tooltip__about {
      visibility: visible;
    }
  }

  &__tooltip {
    position: absolute;
    left: -20px;
    // transform: translateX(-50%);
    cursor: initial;
    top: 65px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2em 2.3em;
    background: white;
  }

  &__tooltip__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 3em;
    @media (max-width: 816px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 660px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__tooltip__inner {
    display: flex;
    flex-direction: column;

    gap: 1em;

    span {
      cursor: pointer;
      width: 100%;
    }
  }
}
