/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* convert from inline to inline-block behavior   */
button a,
li a {
  display: inline-block;
}
