.students {
  background: #ffdcb0;
  padding-block: 3em;

  @media (max-width: 450px) {
    font-size: 0.8rem;
  }
  &__container {
    max-width: 1260px;
    width: 100%;

    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: 2em;

    h2 {
      @include h2();
      @media (max-width: 450px) {
        font-size: 1.5rem;
      }
    }
  }
  &__cards {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    @media (max-width: 851px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background: #fff;
    border-radius: 7px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    align-items: center;
    gap: 2em;
    // background: #000;
    justify-content: center;
    padding: 3em 1em 2em 1em;
    // padding-inline: 1em;
    @media (max-width: 851px) {
      max-width: 500px;
    }

    p {
      text-align: center;
      padding: 1em;
      font-size: 1.2rem;
      color: #2e2e30;
      @media (max-width: 851px) {
        max-width: 300px;
      }
    }
    .img {
      width: 80px;
      border-radius: 50px;
      border: 5px solid #ffe0ba;
      img {
        border-radius: 50px;
      }
    }
    &_end {
      display: flex;
      align-items: center;
      gap: 0.5em;

      .headings {
        font-size: 0.9rem;
        font-weight: 700;

        span {
          font-weight: 500;
        }
      }
    }
  }
  a {
    color: black;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }
  }
}
