$constant-margin: 3em;

$constant-padding: 3em;
$font: url("/public/fonts/SourceSansPro-Black.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-BlackItalic.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-Bold.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-BoldItalic.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-Light.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-BoldItalic.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-ExtraLight.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-ExtraLightItalic.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-Italic.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-LightItalic.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-Regular.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-Semibold.ttf") format("ttf"),
  url("/public/fonts/SourceSansPro-SemiboldItalic.ttf") format("ttf");
